os: linux
dist: trusty
language: node_js
node_js:
- node
cache: npm
before_install:
- openssl aes-256-cbc -K $encrypted_db2095f63ba3_key -iv $encrypted_db2095f63ba3_iv
- in .travis/id_rsa.enc -out .travis/id_rsa -d
- eval "$(ssh-agent -s)"
- cp .travis/id_rsa ~/.ssh/deploy_rsa
- chmod 600 ~/.ssh/deploy_rsa
- ssh-add ~/.ssh/deploy_rsa
install:
- cd client
- npm i
- cd ..
- npm i
script:
- cd ../client
- npm run build
- cd ..
deploy:
- provider: script
  cleanup: true
  script: ".travis/deploy.sh"
  on:
    branch: production