os: linux
dist: trusty
language: node_js
node_js:
- node
cache: npm
before_install:
- openssl aes-256-cbc -K $encrypted_db2095f63ba3_key -iv $encrypted_db2095f63ba3_iv
  -in .travis/deploy_s.enc -out .travis/deploy_s -d
- eval "$(ssh-agent -s)"
- cp .travis/deploy_s ~/.ssh/deploy_s
- chmod 600 ~/.ssh/deploy_s
- ssh-add ~/.ssh/deploy_s
addons:
  ssh_known_hosts: 165.227.158.125
install:
- cd client
- npm i
- cd ..
- npm i
script:
- cd client
- npm run build
- cd ..
deploy:
- provider: script
  skip_cleanup: true
  script: ".travis/deploy.sh"
  on:
    branch: production
