.statisticsContainer{
	width: 90vw;
	margin: auto;
	display: flex;
}

.contentContainer {
	justify-content: center;
	margin: auto;
}

.form, .btnGroup {
	margin: 2vh auto;
}

.formElement {
	margin: 1vh;
}

.btn {
	color: #fff;
    background-color: #17a2b8;
	border-color: #17a2b8;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	outline: none;
}