
body{
    background-color: rgba(1, 1, 32, 0.7);
    margin:0;
    color:white;
    
}
#tabs{
    z-index: 1;
}

#error{
    z-index: 2;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    font-size: 12px;
    width: 150px;
    background-color:rgb(7, 7, 7);
    height: 30px;
}
.hide{
    display: none;
}
.show{
    display: flex;
}

form{
    margin-left:auto;
    margin-right:auto;

}
h3{
    font-size: 16px;
}
#sets{margin-top:25px;}
#tabOpen{
z-index: 2;
}
#mainSettings{

    flex-direction: row;
    height: auto;
}
#settings{
    margin-left: 25%;
    
}


