
body{
    background-color: rgba(1, 1, 32, 0.7);
    margin:0;
    color:white;
    
}
.hide{
    display: none;
}
.show{
    display: block;
}

form{
    margin-left:auto;
    margin-right:auto;

}
#tabOpen{
z-index: 2;
}


