.menuContainer {
	width: 5vw;
	min-height: 100vh;
	float: left;
	background-color: #161616;
	position: fixed;
	border-right: 1px solid black;
	box-sizing: border-box;
}

.buttonContainer {
	width: 3vw;
	height: 3vw;
	border-radius: 50%;
	border: 1px solid black;
	background-color: #1c1c1c;
	margin: 1vh auto;
	cursor: pointer;
	background-size: cover;
	line-height: 3vw;
	font-size: 2vw;
}